@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.green-success-snackbar {
    background-color: #2bbe68 !important; ;
    color: #fff ;
    font-weight: 500;
  }
  
  .red-error-snackbar {
    background-color: #ff3737 !important;
    color: #fff ;
    font-weight: 500;
  }